html,body {
    overflow-x: hidden;

}

body {
    font-family: 'Lato', serif !important;
    --darkGrey: #333333;
    --lightGrey: #666666;
    --lightWhite: #dadad3;
    --skinColor: #dad2c0;
    color: var(--lightGrey);
}
.headerColor {
    color: var(--darkGrey);
}
@media (min-width: 768px) {
    .main-h1 {

    }
}
@media (max-width: 992px) {
    .flags {
        max-height: 55px !important;
    }
    .contactDiv {
        margin-right: 0 !important;
    }
    .imgFooterDiv {
        padding: 5px !important;
    }
    .strategyText {
        padding: 20px !important;
    }
    .strategyDiv {
        clip-path: none !important;
    }
    .wyrDiv {
        margin-top: 0 !important;
    }
    .headerUni {
        font-size: 40px;
    }
    .navbarPills {
        color: white !important;
    }
}
.logoInNav {
    height: 50px !important;
    padding: 0 !important;
}
.aboutUsImg1 {
    height: 75vh;
    background-image: url("../assets/img/wyrImg.jpg");
}
.aboutUsImg2 {
    height: 75vh;
    background-image: url("../assets/img/wyrImg.jpg");
}
.aboutUsH2 {
    margin: 40px 0 40px 0;
    font-size: 25px;
}
.aboutUsH1 {
    border-bottom: 3px solid orange;
    font-size: 35px;
}
.main-h1 {
    text-align: center;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px 0 50px 0;
    color: var(--darkGrey);
}
.whoWeAre {
    font-size: 25px;
}
.whoWeAreText {
    width: 50vw;
    font-size: 20px;
}
.navbarPills {
    font-size: 20px !important;
    transition: all ease 0.3s;
}
.navbarPills:hover {
    color: orange !important;
}
.navbar-shrink div div ul li a {
    color: white !important;
}
.profilImg {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-attachment: fixed;
    width: 100%;
    height: 230px;
    background-image: url("../assets/img/profil.jpg");
}
.profilTexth2 {
    font-weight: 400;
    border-bottom: 3px solid orange;
}
.profilUl li{
    margin-bottom: 20px;
    font-size: 22px;
}
.profilUl {
    list-style: none;
}
.profilUlRightImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/img/profil.jpg");
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 8% 88%);
}
.profilUl li::before {
    content: "• ";
    color: orange; /* or whatever color you prefer */
}
.wyrImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/img/wyrImg.jpg");
}
.wyrItem {
    margin: 25px 0 25px 0;
    font-size: 22px;
}

.wyrDiv {
    color: var(--lightGrey);
    margin-top: 150px;
}
.profilDiv {
    margin-top: 150px !important;
    color: var(--lightGrey);
}
.strategyDiv {
    background-repeat: no-repeat;
    clip-path: polygon(0 1%, 100% 0, 100% 78%, 0 100%);
    min-height: 75vh;
    background-image: url("../assets/img/footerImg.jpg");
}
.contactItem {
    cursor: pointer;
    display: block;
    color: #ababab !important;
    text-decoration: none;
    transition: all ease 0.3s;
}
.contactItem:hover {
    color: #ffffff !important;
    text-decoration: none;
}
.conPart > h4 {
    color: #dddddd;
    margin-bottom: 20px;
}
.conPart {
    margin-right: 120px;
}
.contactDiv {
    color: #ababab;
    font-size: 20px;
    margin-right: 150px;
}
.imgFooterDiv {
    padding: 50px;
}
.strategyText {
    padding: 50px;
    font-size: 30px;
}
.abUsHeader {
    font-weight: 400;
}
.abUsH4 {
    color: var(--darkGrey);
    font-size: 33px;
}
.abUsP {
    font-size: 20px;
}
.flags {

    max-height: 35px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.flags:hover {
    transform: scale(1.3);
}


