html,body {
    overflow-x: hidden;
}

body {
    --darkGrey: #333333;
    --lightGrey: #666666;
    --lightWhite: #dadad3;
    --skinColor: #dad2c0;
    color: var(--lightGrey);
}
.headerColor {
    color: var(--darkGrey);
}
@media (min-width: 768px) {
    .main-h1 {
        font-size: 80px !important;
        float: right;
        padding-right: 100px;
        text-align: right;
        padding-bottom: 15px;
    }
}
@media (max-width: 992px) {
    .contactDiv {
        margin-right: 0 !important;
    }
    .imgFooterDiv {
        padding: 5px !important;
    }
    .strategyText {
        padding: 20px !important;
    }
    .strategyDiv {
        clip-path: none !important;
    }
    .wyrDiv {
        margin-top: 0 !important;
    }
    .headerUni {
        font-size: 45px;
    }
    .navbarPills {
        color: white !important;
    }
}
.main-h1 {
    border-bottom: 3px solid orange;
    padding: 20px;
    margin: 10px;
    font-size: 60px;
    font-weight: 400;
    color: var(--darkGrey);
}
.navbarPills {
    color: var(--darkGrey) !important;
    font-size: 20px !important;
    transition: all ease 0.3s;
}
.navbarPills:hover {
    color: orange !important;
}
.navbar-shrink div div ul li a {
    color: white !important;
}
.profilImg {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-attachment: fixed;
    width: 100%;
    height: 230px;
    background-image: url("../assets/img/profil.jpg");
}
.profilTexth2 {
    font-weight: 400;
    border-bottom: 3px solid orange;
}
.profilUl li{
    margin-bottom: 20px;
    font-size: 30px;
}
.profilUl {
    list-style: none;
}
.profilUlRightImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/img/profil.jpg");
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 8% 88%);
}
.profilUl li::before {
    content: "• ";
    color: orange; /* or whatever color you prefer */
}
.wyrImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/img/wyrImg.jpg");
}
.wyrItem {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}
.lastWyrItem {
    margin-bottom: 100px;
}
.wyrDiv {
    color: var(--lightGrey);
    margin-top: 150px;
}
.profilDiv {
    margin-top: 25px;
    color: var(--lightGrey);
}
.strategyDiv {
    background-repeat: no-repeat;
    clip-path: polygon(0 1%, 100% 0, 100% 78%, 0 100%);
    min-height: 75vh;
    background-image: url("../assets/img/footerImg.jpg");
}
.contactDiv {
    font-size: 20px;
    margin-right: 150px;
}
.imgFooterDiv {
    padding: 50px;
}
.strategyText {
    padding: 50px;
    font-size: 30px;
}
.abUsHeader {
    font-weight: 400;
}
.abUsH4 {
    color: var(--darkGrey);
    font-size: 33px;
}
.abUsP {
    font-size: 20px;
}
